*{
    padding: 0;
    margin: 0;
  }
  body{
    background-color: whitesmoke;
  }
  
  #game{
    width: 1200px;
    height: 600px;
    margin-top: 30px;
    background-position: 190px -15px;
    background-size: contain;
    background-repeat: no-repeat;
    background-blend-mode: hue;
    position: relative;
  }
  .army{
    width: 20px;
    height: 20px;
    border-radius: 20px;
    cursor: pointer;
    position:absolute;
    z-index: 999;
    border: 2px solid black;
    font-size: 15px;
  
  }